
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: linear-gradient(90deg, #282c34, #535864);
  color: white;
  flex-wrap: wrap;
}


.logo-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.header h1 {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 1.5em; 
}

.nav-menu {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: large;
}

.header nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
  flex-wrap: wrap; 
}

.header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.header nav ul li a:hover {
  text-decoration: underline;
}

/* Responsiveness for mobile */
@media (max-width: 768px) {
  .header nav ul {
    flex-direction: row; 
  }

  .logo-title {
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 10px; 
  }

  .header nav ul {
    justify-content: center;
    width: 100%; 
  }

  .header h1 .brand {
    margin-right: 15px; 
  }
  
  .header h1 .title {
    font-weight: 400;
  }

}
