/* src/components/Projects.css */
.projects {
  padding: 20px;
  background-image: url('../images/Background2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects h2 {
  font-family: 'Bebas', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: #443e3e;
  margin-top: 20px;
}

.project-category {
  
  width: 100%;
  max-width: 1200px;
  margin-top: 40px;
}

.category-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2.0rem;
  color: #615b5b;
  margin-bottom: 20px;
  text-align: center;
}

.swiper-container {
  align-content: center;
  width: 100%;
  padding-bottom: 20px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #ffffff;
}

.swiper-pagination-bullet {
  background: #ffffff;
}

.project-card {
  font-family: 'Bebas', sans-serif;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0;
  transform: translateY(20px);
}

.swiper-slide-active .project-card {
  align-content: center;
  opacity: 1;
  transform: translateY(0);
}

.project-card img {
  width: 100%;
  border-radius: 5px;
}

.project-card h4 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.project-card p {
  font-size: 1rem;
  color: #333;
}

.project-card a {
  display: block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}

.project-card a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .category-title {
    font-size: 2rem;
  }

  .project-card {
    padding: 15px;
  }
}
