/* src/components/Skills.css */

.skills {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-image: url('../images/Background2.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}

.skills-category-group {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.skills-category {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  width: 50px;
  height: 200px;
  background-color: #282c34;
  color: white;
  display: flex;
  align-items: stretch;
  justify-content: center;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  font-size: 1rem;
  text-align: center;
}

.skills-content {
  flex-grow: 1;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.skills-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.skill-card {
  background-color: white;
  color: #333;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 110px;
  height: 160px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /* Início da animação */
  opacity: 0;
  transform: translateX(-100%);
  animation: slide-in-left 0.5s ease forwards;
}

.skill-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.skill-card:nth-child(1) {
  animation-delay: 0s;
}

.skill-card:nth-child(2) {
  animation-delay: 0.1s;
}

.skill-card:nth-child(3) {
  animation-delay: 0.2s;
}

.skill-card:nth-child(4) {
  animation-delay: 0.3s;
}

.skill-card:nth-child(5) {
  animation-delay: 0.4s;
}

.skill-card:nth-child(6) {
  animation-delay: 0.5s;
}

.skill-card:nth-child(7) {
  animation-delay: 0.6s;
}

.skill-card:nth-child(8) {
  animation-delay: 0.7s;
}

.skill-icon-container {
  background-color: white;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.skill-icon {
  width: 50px;
  height: 50px;
}

.skill-card p {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-top: 20px;
  font-size: 1rem;
  text-align: center;
}

@media (max-width: 768px) {
  .skills-category-group {
    flex-direction: column;
  }

  .skills-category {
    width: 100%;
    height: auto;
    writing-mode: horizontal-tb;
    transform: none;
    background-color: #282c34;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
  }

  .skills-content {
    align-content: center;
    padding-left: 0;
  }

  .skills-cards {
    justify-content: center;
  }

  .skill-card {
    width: 100%;
    max-width: 250px;
    height: auto;
  }
}

/* Definição da animação */
@keyframes slide-in-left {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
